<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/send">
      <button style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 10rem; height: 5rem;">Send</button>
    </a>
  </body>
</html>
